.a,.b,.c,.d{
    width:100px;
    height:50px;
   /*position: absolute*/

}
.a{
    background-color: blanchedalmond;
    left:10px;
    z-index: 3;
}
.b{
    background-color: blueviolet;
    left:20px;
    z-index: 1;
}
.c{
    background-color: darksalmon;
    left:30px;
    z-index: 2;
}
.d{
    background-color: darkmagenta;
    left: 40px;
    z-index: 6;
}